/* Responsive qism boshlandi  */

html{
    overflow-x: hidden;
}

@media (max-width:1435px){
    .head{
        margin-left: 250px;
    }

    .wekend .image{
        display: none;
    }
}

@media (max-width:1380px){
    .offers-wrapper{
        flex-wrap: wrap;
    } 

    .offers-wrapper .sdf{
        display: none;
    }

    .what-left button {
        padding: 20px;
        width: 212px;
        height: 70px;
        border-radius: 80px;
      }

      .what-right h1 {
        font-weight: 800;
        font-size: 26px;
        line-height: 38px;
        font-family: Nunito;
        width:250px;
      }
      .what-right p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        font-family: Nunito;
        width: 250px;
      }

      .what .what-img{
        width: 400px;
        height: 400px;
      }


      .fresh{
        padding-top: 100px;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;

      }

      .treding-wrapper{
        flex-direction: column;
      }

      .treding-left{
        margin: auto;
        justify-content: center;
      }

      .treding-right{
          margin: auto;
          margin-top: 150px;
          justify-content: center;
      }

      .from-wrapper{
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
      }

      .from-card {
        width: 340px;
        height: 445px;
      }

      .from-card img{
        width: 100%;
      }

      .from-card h3{
        width: 300px;
      }

      .based-r p{
  width: 300px;
  font-size: 14px;
  line-height: 20px;
      }
}

@media (max-width:1024px){
    .offers {
        margin-top: 250px;
      }
    .head{
       margin: auto;
       text-align: center;
    } 
    
    .head p {
        margin-left: 100px;
        text-align: center;
        width: 509px;
      }

      .wekend-card img {
        width: 600px;
        height: 300px;
      }

      .testiminal-top p{
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: Nunito;
        text-align: center;
        width: 700px;
        font-family: Nunito;
        margin:40px auto;
      }

      .subscribe-section{
        flex-direction: column;
      }
}

@media (max-width:860px){
    .what{
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        margin: auto;
        justify-content: center;
    }

    .footer-left{
        margin: auto;
    }

    .footer-middle{
        justify-content: center;
        margin: auto;
    }

    .footer-right{
        margin: auto;
    }
}


@media (max-width:768px){

    .wekend-card img {
        width: 500px;
        height: 250px;
      }

    .head{
        margin-top: 50px;

    }
 .head img{
    display: none;
 } 

 .head h1{
    margin: auto;
  width: 420px;
    font-size: 62px;
  line-height: 70px;

 }

 .head p {
    margin: auto;
  width: 409px;
    margin-top: 15px;
 }
 
 .head button{
  margin: 50px auto;
 }



 .fresh .fresh-card1 {
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    object-fit: cover;
    height: 300px;
    background-image: url(../images/fresh2.png);
  }
  .fresh .fresh-card2 {
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 350px;
    height: 300px;
    background-image: url(../images/fresh1.png);
  }

  .testiminal-top p{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Nunito;
    text-align: center;
    width: 450px;
    font-family: Nunito;
    margin:40px auto;
  }

  .testimal-wrapper{
    flex-wrap: wrap;
  }

  .based{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .subscribe-section h2{
    font-size: 25px;
    line-height: 25px;
    margin: auto;
    margin-bottom: 15px;
  }

  .subscribe-section p{
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
  }
  .subscribe-form input[type="email"] {
    padding: 15px;
    width: 350px;
    background: transparent;
  }

  .subscribe-form{
    flex-direction: column;
  }
  .subscribe-form button{
    width: 90%;
  }

}

@media (max-width:480px){
    .head{
        margin-top: 100px;
    }


    .head h1{
      width: 320px;
        font-size: 42px;
      line-height: 50px;
     }

     .head p {
        width: 309px;
        margin-top: 15px;
     }  

     .what .what-img{
        width: 300px;
        height: 250px;
     }

     .treding-left .treding-left-card{
        margin-top: 50px;
        background-image: url(../images/treding-l2.png);
        width: 310px;
        height: 350px;
        background-size: cover;
      }

      .treding-left-card img{
        margin-top: 5px;
        width: 265px;
        height: 265px;
      }

      .treding-top h1{
        margin-top: 100px;
        margin-left: 15px;
        font-family: Nunito;
        font-weight: 800;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
      }


      .testiminal-top p{
        color: white;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-family: Nunito;
        text-align: center;
        width: 320px;
        font-family: Nunito;
        margin:40px auto;
      }

      .based{
        width: 350px;
        overflow-x: hidden;
      }

      .based-l h1{
        width: 200px;
        margin: auto;
      }

      .based-l-img{
        width: 300px;
        margin: auto;
        justify-content: center;
      }

      .based-l-img img{
        flex-direction: column;
        /* width: 80%; */
        width: 300px;

      }

      .based-l p{
        width: 150px;
        line-height: 20px;
        margin: auto;
      }


      .subscribe-section h2{
        font-size: 20px;
        line-height: 20px;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 10px;
      }
    
      .subscribe-section p{
        width: 250px;
        margin: auto;
        margin-bottom: 15px;
      }
      .subscribe-form input[type="email"] {
        padding: 15px;
        width:300px;
        background: transparent;
      }
      .subscribe-form button{
        width: 80%;
        height: 40px;
      }

}


